# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- release

pool:
  vmImage: 'ubuntu-latest'

variables:
  project: 'BlockFarmEditor.Umbraco/BlockFarmEditor.Umbraco.csproj'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:

- script: |
    dotnet build $(project) -c $(buildConfiguration)

- task: CopyFiles@2
  inputs:
    Contents: '**/*.nupkg'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'
    CleanTargetFolder: true


- task: DotNetCoreCLI@2
  inputs:
    command: 'push'
    packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'
    nuGetFeedType: 'external'
    publishFeedCredentials: 'Nuget BlockFarmEditor'